.cache
.classpath
.idea/*
.metadata/*
.project
.settings
target
*.swp
*.class
*.iml
dependency-reduced-pom.xml

# Ensime specific
.ensime
.ensime_cache

# Include some IntelliJ settings
!.idea/codeStyleSettings.xml
!.idea/copyright/
!.idea/inspectionProfiles/
!.idea/fileTemplates/internal/
