<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{"/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{"/css/styles/monokai_sublime.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{"/foundation/css/normalize.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{"/foundation/css/foundation.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{"/foundation/foundation-icons/foundation-icons.css" | prepend: site.baseurl }}">
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl }}" />

    <script type="text/javascript" src="{{"/foundation/js/vendor/jquery.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{"/js/functions.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{"/js/highlight.pack.js" | prepend: site.baseurl }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
