/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    z-index: 100;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    background-color: $grey-color-light;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.grey {
    background-color: $grey-color;
}

.grey-light {
    background-color: $grey-color-light;
}

.grey-dark {
    background-color: $grey-color-dark;
    color: white;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    font-family: $second-font;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


.home {
    height: 480px;
}

.pattern {
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;

    background-image: url('../img/bg-pattern.png'); /* fallback */
    background-image: url('../img/bg-pattern.png'), -moz-linear-gradient(top, rgba(0,0,0,0) 90%, rgba(0,0,0,1) 100%);
    background-image: url('../img/bg-pattern.png'), -webkit-gradient(left top, left bottom, color-stop(90%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
    background-image: url('../img/bg-pattern.png'), -webkit-linear-gradient(top, rgba(0,0,0,0) 90%, rgba(0,0,0,1) 100%);
    background-image: url('../img/bg-pattern.png'), -o-linear-gradient(top, rgba(0,0,0,0) 90%, rgba(0,0,0,1) 100%);
    background-image: url('../img/bg-pattern.png'), -ms-linear-gradient(top, rgba(0,0,0,0) 90%, rgba(0,0,0,1) 100%);
    background-image: url('../img/bg-pattern.png'), linear-gradient(to bottom, rgba(0,0,0,0) 90%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    z-index: 0;
}

.grey-dark .heading {
    color:white;
    font-family: $second-font;
}

.heading {
    color:#424242;
    font-family: $second-font;
}

.fi-icon {
    font-size: 100pt;
    color: #333;
    text-shadow: 1px 1px #555;
}

hr {
    border: solid #4f4f4f;
}

hr.faded {
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 1.4em 0;
  border: none;
  background: #4f4f4f;
  background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0, #424242), color-stop(0.1, #666), color-stop(0.9, #666), color-stop(1, #424242));
  background-image: -moz-linear-gradient(left center, #424242 0%, #666 10%, #666 90%, #424242 100%);
}

.side-nav .active {
    font-weight: bold;
}

.toc {
    position: fixed;
    width: initial !important;
    margin-left: 900px;
    overflow: auto;
}