<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div class="off-canvas-wrap" data-offcanvas>
            <div class="inner-wrap">
                {% include header.html nav=page.nav%}

                <section class="page-content">
                    <div class="wrapper">
                        {{ content }}
                    </div>
                </section>


                <a class="exit-off-canvas"></a>
                {% include footer.html %}
            </div>
        </div>
    </body>
</html>
