---
layout: default
---

{% assign tutorials = site.tutorials | sort: 'date' %}

<div class="row">
    <div class="large-9 columns">
        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
        </header>

        <article class="post-content">
            {{ content }}
        </article>

        <hr>

        {% for tutorial in tutorials %}
            {% if tutorial.title == page.title %}
                {% assign prevIndex = forloop.index | minus:2 %}
                {% if prevIndex >= 0 %}
                    {% assign prev = tutorials[prevIndex] %}
                {% endif %}
                {% assign next = tutorials[forloop.index] %}
            {% endif %}
        {% endfor %}

        <div class="row">
            <div class="small-6 columns">
                {% if prev %}
                    <a href="{{prev.url | prepend: site.url}}"><i class="fi-arrow-left"></i> {{prev.title}}</a>
                {% endif %}
            </div>
            <div class="small-6 columns" style="text-align:right">
                {% if next %}
                    <a href="{{next.url | prepend: site.url}}">{{next.title}} <i class="fi-arrow-right"></i></a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="large-3 columns">
        <hr class="hide-for-large-up">
        <h5>Table of Contents</h5>
        <ul class="side-nav">
        {% for tutorial in tutorials %}
            <li><a class="page-link{% if page.url == tutorial.url %} active{% endif %}" href="{{ tutorial.url | prepend: site.url }}">{{ tutorial.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
</div>
